body {
      position: relative;
	  font-family: Verdana, sans-serif;
  }

html, body{
	height: 100%;
	width: 100%;
}

.jumbotron{
	height: 100%;
	color: #fff;
	background-color: #008080;
	font-family: Montserrat, sans-serif;
	padding-top: 100px;
}

@-webkit-keyframes bounce {
  0% {margin-top: 100px;}
  50% {margin-top: 150px;}
  100% {margin-top: 100px;}
}

#slide_down{
	/*margin-top:100px;*/
	width: auto;
	height: auto;
	-webkit-animation: bounce 4s infinite;
}

.container-fluid {
    padding: 60px 50px;
}


#TOP, #ABOUT, #SKILLS, #PORTFOLIO, #CONTACT{
	overflow: hidden;
}

#ABOUT {
	display: inline-block;
}

#prof_pic{
	border-radius:50%;
}

.logo-small {
    color: #008080;
    font-size: 50px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

/* Top nav bar */

.navbar {
    margin-bottom: 0;
    background-color: #008080;
	font-family: Montserrat, sans-serif;
	border-bottom-style: solid;
	border-color: #FFF;
	border-bottom-width: 2px;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #008080 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/*Show when hover*/
.slideIn{
  display: none;
}

/* Back to top button */

.glyphicon.glyphicon-chevron-up{
	font-size:1.5em;
    margin-bottom: 20px;
    color: #008080;
}

.back-to-top{
	display: inline-block;
	position: fixed;
	bottom: 40px;
	right: 40px;
	visibility: hidden;
	transition: all 0.3s;
}

.back-to-top.set-visible{
	visibility: visible;
}

#lastDate{
	color: #000000;
	font-family: Montserrat, sans-serif;
}

/*List padding*/
.aboutList li{
	padding-bottom: .5em;
}

/*Bootstrap class*/
.row{
  text-align: center;
}
