body {
      position: relative;
	  font-family: Verdana, sans-serif;
  }
  
html, body{
	height: 100%;
}
  
.jumbotron{
	color: #fff;
	background-color: #008080;
	font-family: Montserrat, sans-serif;
	padding: 100px 25px;
	border-top-style: solid;
	border-top-color: #FFF;
	border-top-width: 2px;
	height: 100%;
}

.container-fluid {
    padding: 60px 50px;
}

#ABOUT, #LIFE, #PORTFOLIO, #CONTACT{
	height: 100%;
}

.logo-small {
    color: #008080;
    font-size: 50px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.navbar {
    margin-bottom: 0;
    background-color: #008080;
	font-family: Montserrat, sans-serif;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #008080 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #008080;
}